@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,700");

@import url("https://fonts.googleapis.com/css?family=Revalia:regular");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/iconswoff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-in:before {
  content: "\e902";
}

._icon-instageam:before {
  content: "\e903";
}

._icon-instageam-footer:before {
  content: "\e904";
}

._icon-mail:before {
  content: "\e905";
}

._icon-phone:before {
  content: "\e906";
}

._icon-search:before {
  content: "\e907";
}

._icon-twitter:before {
  content: "\e908";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

::-ms-reveal {
  display: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.ibg {
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  font-family: "Roboto";
  font-size: 1.25rem;
  color: #000;
}

body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-max] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.2;
  /* 21px/18 */
  color: #ffffff;
  background-color: #373737;
  text-transform: capitalize;
  border-radius: 0.3125rem;
  padding: 0.8125rem 1.0625rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.btn_white {
  background-color: #fff;
  color: #373737;
}

.swiper-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper {
  overflow: hidden;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  row-gap: 6px;
}

.swiper-pagination-bullet {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50pc;
  background-color: #efefef;
  cursor: pointer;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.swiper-pagination-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-pagination-vertical > .swiper-pagination-bullet-active {
  background-color: rgb(0, 115, 255);
  width: 8px;
  height: 16px;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: rgb(223, 84, 84);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.swiper-pagination-progressbar {
  background: rgb(255, 154, 154);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
}

.swiper-vertical > .swiper-button-block {
  display: none;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.swiper-vertical > .swiper-wrapper > .swiper-slide {
  width: 100vw;
}

.text {
  font-weight: 300;
  line-height: 1.6;
  /* 32px/20 */
  color: #373737;
}

.title {
  font-family: "Revalia";
  font-size: 2.25rem;
  line-height: 1.25;
  /* 45px/36 */
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.3125rem 0;
  background-color: #fff;
  z-index: 50;
}

.header__container-max {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.1875rem;
}

.header__logo {
  position: relative;
  z-index: 5;
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.2;
  /* 29px/25 */
  color: #000;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.header__action {
  position: relative;
  z-index: 5;
  margin: 0 3.4375rem 0 2.1875rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.header__search {
  position: relative;
  z-index: 5;
}

.menu__body {
  padding: 0 0.3125rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.75rem;
     -moz-column-gap: 2.75rem;
          column-gap: 2.75rem;
  row-gap: 0.3125rem;
}

.menu__link {
  font-size: 1.125rem;
  line-height: 1.2;
  color: #000;
}

.search-header {
  position: relative;
}

.search-header__icon {
  font-size: 2rem;
  background-color: transparent;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.search-header__form {
  opacity: 0;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.search-header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-header__input {
  width: 100%;
  padding: 0.9375rem 3.125rem 0.9375rem 1.875rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #373737;
  font-size: 1.125rem;
}

.search-header__button {
  position: absolute;
  top: 50%;
  right: 0.625rem;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1.5rem;
  background-color: transparent;
}

.icon-menu {
  display: none;
}

.title-block__value {
  font-size: 1.875rem;
  line-height: 1.2;
  color: #000;
}

.title-block__value:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.title-block__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  line-height: 1.5;
  color: #373737;
  max-width: 27.125rem;
}

.title-block__text::before {
  content: "";
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.375rem;
          flex: 0 0 4.375rem;
  height: 0.0625rem;
  background: #000000;
}

.main {
  margin-top: 5.8125rem;
  min-height: calc(100vh - 93px);
}

.main__bg {
  position: absolute;
  width: 100%;
  height: calc(100vh - 93px);
  min-height: 23.125rem;
}

.main__body {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__decor {
  height: calc(100vh - 93px);
  min-height: 23.125rem;
}

.main__content-wrapper {
  width: 100%;
  height: calc(100vh - 93px);
  min-height: 23.125rem;
}

.main__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 87.6640419948%;
}

.main__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.5rem 0.9375rem;
  background: -o-linear-gradient(337.2deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
  background: linear-gradient(112.8deg, rgba(207, 207, 207, 0.26) 0%, rgba(207, 207, 207, 0.06) 92.87%);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

.main__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main__title {
  max-width: 31.25rem;
}

.main__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.main__text {
  line-height: 1.2;
  /* 23px/20 */
  color: #ffffff;
  max-width: 25.75rem;
}

.main__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.decor-main {
  width: 21.5277777778%;
  min-width: 3.5rem;
}

.decor-main__sosials {
  height: 87.6640419948%;
  background: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 3.375rem;
}

.decor-main__item:not(:last-child) {
  margin-bottom: 2.375rem;
}

.decor-main__link {
  font-size: 1.875rem;
  color: #fff;
}

.decor-main__link::before {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.decor-main__decor {
  height: 34.3832020997%;
  min-height: 16.375rem;
  background-color: #000;
}

.achievements {
  padding: 2.375rem 0 2.625rem 0;
}

.achievements__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 5rem;
     -moz-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 1.875rem;
  margin-left: -7.5rem;
}

/*  @media (max-width: 850px) {
  .achievements__items {
    margin-left: 100px;
  }
 }

 @media (max-width: 480px) {
  .achievements__items {
    flex-direction: column;
    margin-left: 0;
  }
 } */

@media (max-width: 75em) {
  .achievements__items {
    -webkit-column-gap: calc(1.875rem + 50 * (100vw - 38.75rem) / 580);
       -moz-column-gap: calc(1.875rem + 50 * (100vw - 38.75rem) / 580);
            column-gap: calc(1.875rem + 50 * (100vw - 38.75rem) / 580);
  }

  .achievements__items {
    margin-left: calc(0rem + -120 * (100vw - 62.5rem) / 200);
  }
}

.achievements__item {
  text-align: center;
}

.item-achievements__value {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  color: #000;
}

.item-achievements__value:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-achievements__category {
  line-height: 1.2;
  color: #000;
}

.about-us {
  padding-top: 7.5rem;
}

.about-us__title-block {
  margin-bottom: 2.8125rem;
}

.about-us__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  padding-right: 0.9375rem;
}

.about-us__image {
  min-width: 37.875rem;
  height: 25rem;
}

.about-us__content {
  max-width: 41.4375rem;
}

.about-us__text:not(:last-child) {
  margin-bottom: 1.875rem;
}

.about-us__partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  margin-top: 3.75rem;
}

.advantages {
  padding-top: 7.5rem;
}

.advantages__title-block {
  margin-bottom: 2.8125rem;
}

.advantages__items {
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
}

.advantages__item {
  padding: 0.75rem;
  background-color: #fff;
  border-radius: 0.3125rem;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.item-advantages__icon:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-advantages__title {
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

.item-advantages__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.our-furniture {
  padding-top: 7.5rem;
}

.our-furniture__title-block {
  text-align: center;
  margin-bottom: 2.8125rem;
}

.our-furniture__title-block .title-block__text {
  max-width: 22.375rem;
  margin: 0 auto;
}

.our-furniture__title-block .title-block__text::before {
  display: none;
}

.tabs-our-furniture__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
  margin-bottom: 3.125rem;
}

.tabs-our-furniture__search {
  position: relative;
}

.tabs-our-furniture__input {
  width: 100%;
  font-size: 1.25rem;
  background: #efefef;
  border-radius: 0.3125rem;
  padding: 0.8125rem 3.75rem 0.8125rem 1rem;
  min-height: 3.125rem;
}

.tabs-our-furniture__input::-webkit-input-placeholder {
  color: #686868;
  opacity: 1;
}

.tabs-our-furniture__input::-moz-placeholder {
  color: #686868;
  opacity: 1;
}

.tabs-our-furniture__input:-ms-input-placeholder {
  color: #686868;
  opacity: 1;
}

.tabs-our-furniture__input::-ms-input-placeholder {
  color: #686868;
  opacity: 1;
}

.tabs-our-furniture__input::placeholder {
  color: #686868;
  opacity: 1;
}

.tabs-our-furniture__search-button {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 1;
  font-size: 1.5625rem;
  background: #373737;
  border-radius: 0.3125rem;
  padding: 0.75rem;
  color: #fff;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.tabs-our-furniture__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.375rem;
}

.tabs-our-furniture__button {
  font-size: 1.25rem;
  line-height: 1.5;
  /* 30px/20 */
  color: #686868;
  background-color: transparent;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.tabs-our-furniture__button._active {
  color: #000;
}

.tabs-our-furniture__body {
  display: none;
}

.tabs-our-furniture__body._active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tabs-our-furniture__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1.875rem;
  grid-template-columns: repeat(auto-fit, minmax(16.6875rem, 1fr));
}

.tabs-our-furniture__items:not(:last-child) {
  margin-bottom: 3.125rem;
}

.tabs-our-furniture__item {
  background-color: #f9f9f9;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  -webkit-box-shadow: 8px 8px 20px rgba(39, 39, 43, 0.1);
          box-shadow: 8px 8px 20px rgba(39, 39, 43, 0.1);
}

.tabs-our-furniture__button-more {
  padding: 0.8125rem 1.75rem;
}

.item-tabs-our-furniture__image {
  display: block;
  padding-bottom: 67.1875%;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.item-tabs-our-furniture__image:not(:last-child) {
  margin-bottom: 0.625rem;
}

.item-tabs-our-furniture__image img {
  -webkit-transition: 0.6s ease 0s;
  -o-transition: 0.6s ease 0s;
  transition: 0.6s ease 0s;
}

.item-tabs-our-furniture__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
  padding: 0.3125rem;
}

.item-tabs-our-furniture__row {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.625rem;
}

.item-tabs-our-furniture__title {
  line-height: 1.5;
  color: #373737;
}

.item-tabs-our-furniture__price {
  line-height: 1.5;
  color: #373737;
}

.reviews {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.reviews__title-block {
  margin-bottom: 2.8125rem;
}

.reviews__slider {
  position: relative;
}

.reviews__slide {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}

.reviews__button-prev {
  left: 0;
}

.reviews__button-prev::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reviews__button-next {
  right: 0;
}

.reviews__button-prev,
.reviews__button-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  font-size: 1.625rem;
  color: #fff;
  background: rgba(55, 55, 55, 0.5);
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.slide-reviews__user {
  width: 10.1875rem;
  height: 14rem;
}

.slide-reviews__user img {
  border-radius: 0.3125rem;
}

.slide-reviews__content {
  max-width: 21.625rem;
}

.slide-reviews__user-name {
  line-height: 1.5;
  color: #373737;
}

.slide-reviews__user-data {
  font-size: 1rem;
  line-height: 1.9;
  color: #696161;
}

.slide-reviews__user-data:not(:last-child) {
  margin-bottom: 0.625rem;
}

.slide-reviews__comemnt {
  font-size: 1rem;
}

.slide-reviews__comemnt:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.slide-reviews__comemnt::before {
  content: "“";
  color: #f6de00;
}

.slide-reviews__comemnt::after {
  content: "”";
  color: #f6de00;
}

.slide-reviews__evaluation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.footer {
  background-color: #373737;
  padding: 5rem 0;
}

.footer__container {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 9.375rem;
     -moz-column-gap: 9.375rem;
          column-gap: 9.375rem;
  row-gap: 2.5rem;
  -ms-grid-columns: 14.125rem 7.5rem 7.5rem 14.8125rem;
  grid-template-columns: 14.125rem 7.5rem 7.5rem 14.8125rem;
}

.footer__logo {
  display: inline-block;
  font-weight: 700;
  font-size: 2.1875rem;
  line-height: 1.2;
  /* 41px/35 */
  color: #ffffff;
}

.footer__logo:not(:last-child) {
  margin-bottom: 1.875rem;
}

.footer__contacts:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer__sosials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.footer__label {
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
}

.footer__label:not(:last-child) {
  margin-bottom: 1.875rem;
}

.footer__button-app {
  font-weight: 700;
  padding: 0.8125rem 1.75rem;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.contacts-footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.2;
}

.contacts-footer__link::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #373737;
  font-size: 0.875rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
}

.sosials-footer__link {
  font-size: 1.375rem;
  color: #fff;
}

.sosials-footer__link::before {
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.menu-footer__label {
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
}

.menu-footer__label:not(:last-child) {
  margin-bottom: 1.875rem;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}

.menu-footer__link {
  font-size: 0.875rem;
  line-height: 1.2;
  color: #ffffff;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.form-footer:not(:last-child) {
  margin-bottom: 1.875rem;
}

.form-footer__control {
  position: relative;
}

.form-footer__control .error {
  position: absolute;
  bottom: 0;
  font-weight: 300;
  left: 0;
  font-size: 0.875rem;
  color: red;
  -webkit-transform: translate(0, 120%);
      -ms-transform: translate(0, 120%);
          transform: translate(0, 120%);
}

.form-footer__email {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.2;
  padding: 0.75rem;
  background-color: #fff;
  border-radius: 0.3125rem;
}

.form-footer__email::-webkit-input-placeholder {
  color: #373737;
}

.form-footer__email::-moz-placeholder {
  color: #373737;
}

.form-footer__email:-ms-input-placeholder {
  color: #373737;
}

.form-footer__email::-ms-input-placeholder {
  color: #373737;
}

.form-footer__email::placeholder {
  color: #373737;
}

.form-footer__button {
  font-size: 0.875rem;
  padding: 0.75rem;
  min-height: 2.5rem;
}

@media (min-width: 38.74875em) {
  .our-furniture__title-block {
    -webkit-transform: translate(5.625rem, 0);
        -ms-transform: translate(5.625rem, 0);
            transform: translate(5.625rem, 0);
  }

  .tabs-our-furniture__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6875rem;
            flex: 0 0 16.6875rem;
  }
}

@media (min-width: 38.75em) {
  .slide-reviews__user {
    min-width: 10.1875rem;
    min-height: 14rem;
  }
}

@media (min-width: 42.56125em) {
  .search-header__form {
    width: 0;
    position: absolute;
    top: 50%;
    right: -0.40625rem;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    overflow: hidden;
  }

  .search-header__form._active {
    opacity: 1;
    width: 31.25rem;
  }
}

@media (min-width: 51.24875em) {
  .header__menu._hidden {
    opacity: 0;
  }

  .header__action._hidden {
    opacity: 0;
  }

  .search-header__icon._active {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }

  .main__content-item {
    -webkit-transform: translate(-10%, 0);
        -ms-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
}

@media (min-width: 113.74875em) {
  .about-us__body {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 0.9375rem;
  }
}

@media (max-width: 75em) {
  .btn {
    font-size: calc(1rem + 2 * (100vw - 20rem) / 880);
  }

  .btn {
    padding-top: calc(0.625rem + 3 * (100vw - 20rem) / 880);
  }

  .btn {
    padding-bottom: calc(0.625rem + 3 * (100vw - 20rem) / 880);
  }

  .btn {
    padding-right: calc(0.8125rem + 4 * (100vw - 20rem) / 880);
  }

  .btn {
    padding-left: calc(0.8125rem + 4 * (100vw - 20rem) / 880);
  }

  .title {
    font-size: calc(1.5rem + 12 * (100vw - 26.25rem) / 780);
  }

  .header__container-max {
    min-height: calc(3.75rem + 23 * (100vw - 20rem) / 880);
  }

  .header__action {
    margin-right: calc(0.9375rem + 40 * (100vw - 20rem) / 880);
  }

  .search-header__icon {
    font-size: calc(1.5rem + 8 * (100vw - 20rem) / 880);
  }

  .title-block__value {
    font-size: calc(1.625rem + 4 * (100vw - 20rem) / 880);
  }

  .title-block__text {
    font-size: calc(1.125rem + 2 * (100vw - 20rem) / 880);
  }

  .main {
    margin-top: calc(4.375rem + 23 * (100vw - 20rem) / 880);
  }

  .main {
    min-height: calc(100vh - (4.375rem + 23 * (100vw - 20rem) / 880));
  }

  .main__bg {
    height: calc(100vh - (4.375rem + 23 * (100vw - 20rem) / 880));
  }

  .main__content {
    padding-top: calc(1.25rem + 20 * (100vw - 20rem) / 880);
  }

  .main__content {
    padding-bottom: calc(1.25rem + 20 * (100vw - 20rem) / 880);
  }

  .main__text {
    font-size: calc(1rem + 4 * (100vw - 26.25rem) / 780);
  }

  .decor-main__sosials {
    padding-left: calc(1.125rem + 36 * (100vw - 20rem) / 880);
  }

  .decor-main__link {
    font-size: calc(1.25rem + 10 * (100vw - 26.25rem) / 780);
  }

  .item-achievements__value {
    font-size: calc(1.625rem + 14 * (100vw - 20rem) / 880);
  }

  .item-achievements__value:not(:last-child) {
    margin-bottom: calc(0.9375rem + 10 * (100vw - 20rem) / 880);
  }

  .item-achievements__category {
    font-size: calc(1.125rem + 2 * (100vw - 20rem) / 880);
  }

  .about-us {
    padding-top: calc(3.125rem + 70 * (100vw - 20rem) / 880);
  }

  .about-us__title-block {
    margin-bottom: calc(1.25rem + 25 * (100vw - 20rem) / 880);
  }

  .about-us__partners {
    margin-top: calc(1.875rem + 30 * (100vw - 20rem) / 880);
  }

  .about-us__partners {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0.9375rem;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .advantages {
    padding-top: calc(3.125rem + 70 * (100vw - 20rem) / 880);
  }

  .advantages__title-block {
    margin-bottom: calc(1.25rem + 25 * (100vw - 20rem) / 880);
  }

  .our-furniture {
    padding-top: calc(3.125rem + 70 * (100vw - 20rem) / 880);
  }

  .our-furniture__title-block {
    margin-bottom: calc(1.25rem + 25 * (100vw - 20rem) / 880);
  }

  .tabs-our-furniture__button-more {
    padding-top: calc(0.625rem + 3 * (100vw - 20rem) / 880);
  }

  .tabs-our-furniture__button-more {
    padding-bottom: calc(0.625rem + 3 * (100vw - 20rem) / 880);
  }

  .tabs-our-furniture__button-more {
    padding-right: calc(0.8125rem + 15 * (100vw - 20rem) / 880);
  }

  .tabs-our-furniture__button-more {
    padding-left: calc(0.8125rem + 15 * (100vw - 20rem) / 880);
  }

  .reviews {
    padding-top: calc(3.125rem + 70 * (100vw - 20rem) / 880);
  }

  .reviews {
    padding-bottom: calc(3.125rem + 70 * (100vw - 20rem) / 880);
  }

  .reviews__title-block {
    margin-bottom: calc(1.25rem + 25 * (100vw - 20rem) / 880);
  }

  .footer__container {
    -webkit-column-gap: calc(5rem + 70 * (100vw - 62rem) / 208);
       -moz-column-gap: calc(5rem + 70 * (100vw - 62rem) / 208);
            column-gap: calc(5rem + 70 * (100vw - 62rem) / 208);
  }

  .footer__button-app {
    padding-top: calc(0.625rem + 3 * (100vw - 20rem) / 880);
  }

  .footer__button-app {
    padding-bottom: calc(0.625rem + 3 * (100vw - 20rem) / 880);
  }

  .footer__button-app {
    padding-right: calc(0.8125rem + 15 * (100vw - 20rem) / 880);
  }

  .footer__button-app {
    padding-left: calc(0.8125rem + 15 * (100vw - 20rem) / 880);
  }
}

@media (max-width: 62em) {
  .footer__container {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }
}

@media (max-width: 55em) {
  .achievements__items {
    margin-left: 6.25rem;
  }
}

@media (max-width: 55em) and (max-width: 32.5em) {
  .achievements__items {
    margin-left: calc(3.125rem + 50 * (100vw - 20rem) / 200);
  }
}

@media (max-width: 55em) and (max-width: 20em) {
  .achievements__items {
    margin-left: 3.125rem;
  }
}

@media (max-width: 45em) {
  .footer__container {
    -webkit-column-gap: calc(0rem + 80 * (100vw - 20rem) / 400);
       -moz-column-gap: calc(0rem + 80 * (100vw - 20rem) / 400);
            column-gap: calc(0rem + 80 * (100vw - 20rem) / 400);
  }
}

@media (max-width: 20em) {
  .btn {
    font-size: 1rem;
  }

  .btn {
    padding-top: 0.625rem;
  }

  .btn {
    padding-bottom: 0.625rem;
  }

  .btn {
    padding-right: 0.8125rem;
  }

  .btn {
    padding-left: 0.8125rem;
  }

  .header__container-max {
    min-height: 3.75rem;
  }

  .header__action {
    margin-right: 0.9375rem;
  }

  .search-header__icon {
    font-size: 1.5rem;
  }

  .title-block__value {
    font-size: 1.625rem;
  }

  .title-block__text {
    font-size: 1.125rem;
  }

  .main {
    margin-top: 4.375rem;
  }

  .main__content {
    padding-top: 1.25rem;
  }

  .main__content {
    padding-bottom: 1.25rem;
  }

  .decor-main__sosials {
    padding-left: 1.125rem;
  }

  .item-achievements__value {
    font-size: 1.625rem;
  }

  .item-achievements__value:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .item-achievements__category {
    font-size: 1.125rem;
  }

  .about-us {
    padding-top: 3.125rem;
  }

  .about-us__title-block {
    margin-bottom: 1.25rem;
  }

  .about-us__partners {
    margin-top: 1.875rem;
  }

  .advantages {
    padding-top: 3.125rem;
  }

  .advantages__title-block {
    margin-bottom: 1.25rem;
  }

  .our-furniture {
    padding-top: 3.125rem;
  }

  .our-furniture__title-block {
    margin-bottom: 1.25rem;
  }

  .tabs-our-furniture__button-more {
    padding-top: 0.625rem;
  }

  .tabs-our-furniture__button-more {
    padding-bottom: 0.625rem;
  }

  .tabs-our-furniture__button-more {
    padding-right: 0.8125rem;
  }

  .tabs-our-furniture__button-more {
    padding-left: 0.8125rem;
  }

  .reviews {
    padding-top: 3.125rem;
  }

  .reviews {
    padding-bottom: 3.125rem;
  }

  .reviews__title-block {
    margin-bottom: 1.25rem;
  }

  .footer__container {
    -webkit-column-gap: 0rem;
       -moz-column-gap: 0rem;
            column-gap: 0rem;
  }

  .footer__button-app {
    padding-top: 0.625rem;
  }

  .footer__button-app {
    padding-bottom: 0.625rem;
  }

  .footer__button-app {
    padding-right: 0.8125rem;
  }

  .footer__button-app {
    padding-left: 0.8125rem;
  }
}

@media (max-width: 62.5em) {
  .achievements__items {
    margin-left: 0rem;
  }
}

@media (max-width: 61.99875em) {
  .about-us__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0.9375rem;
  }

  .about-us__image {
    min-width: 100%;
    margin: 0 -0.9375rem;
  }

  .about-us__content {
    max-width: none;
  }
}

@media (max-width: 51.24875em) {
  .header__action {
    margin-left: 0;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    background-color: #ececec;
    -webkit-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ececec;
    width: 100%;
    height: 5.8125rem;
    -webkit-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .menu__link {
    font-size: 1.625rem;
  }
}

@media (max-width: 51.24875em) and (max-width: 75em) {
  .menu__body::before {
    height: calc(4.375rem + 23 * (100vw - 20rem) / 880);
  }
}

@media (max-width: 51.24875em) and (max-width: 20em) {
  .menu__body::before {
    height: 4.375rem;
  }
}

@media (max-width: 51.24875rem) {
  .icon-menu {
    margin-left: 1.5625rem;
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.875rem;
            flex: 0 0 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: 0.3s ease 0s;
    -o-transition: 0.3s ease 0s;
    transition: 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .icon-menu._active span {
    width: 0;
  }

  .icon-menu._active::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .icon-menu._active::after {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 42.56125em) {
  .search-header__form {
    position: fixed;
    top: 5rem;
    left: 0;
    width: 100vw;
  }

  .search-header__form._active {
    opacity: 1;
  }

  .search-header__input {
    border-radius: 0;
  }
}

@media (max-width: 42.56125em) and (max-width: 42.56125em) {
  .search-header__form {
    top: calc(4.375rem + 10 * (100vw - 20rem) / 360.98);
  }
}

@media (max-width: 42.56125em) and (max-width: 20em) {
  .search-header__form {
    top: 4.375rem;
  }
}

@media (max-width: 42.5em) {
  .footer__container {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 38.75em) {
  .title-block__text::before {
    display: none;
  }

  .achievements__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .reviews__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .slide-reviews__user {
    width: 100%;
    height: 26.5rem;
  }

  .slide-reviews__user img {
    -o-object-position: top;
       object-position: top;
  }

  .slide-reviews__content {
    max-width: none;
  }
}

@media (max-width: 38.74875em) {
  .tabs-our-furniture__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .tabs-our-furniture__search {
    width: 16.6875rem;
  }
}

@media (max-width: 38.75em) and (max-width: 75em) {
  .slide-reviews__user {
    height: calc(20rem + 104 * (100vw - 20rem) / 880);
  }
}

@media (max-width: 38.75em) and (max-width: 20em) {
  .slide-reviews__user {
    height: 20rem;
  }
}

@media (max-width: 34.99875em) {
  .footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 26.25em) {
  .title {
    font-size: 1.5rem;
  }

  .main__text {
    font-size: 1rem;
  }

  .decor-main__link {
    font-size: 1.25rem;
  }
}

@media (min-width: 34.99875em) and (max-width: 61.99875em) {
  .footer__column:last-child {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: 2/1/3/4;
  }
}

@media (min-width: 34.99875em) and (max-width: 42.5em) {
  .footer__column:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }

  .footer__column:last-child {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: #242323;
  }

  .btn_white:hover {
    background-color: #c2c2c2;
  }

  .decor-main__link:hover::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .advantages__item:hover {
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.05);
  }

  .tabs-our-furniture__search-button:hover {
    background-color: #242323;
  }

  .item-tabs-our-furniture__image:hover img {
    -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
            transform: scale(1.04);
  }

  .reviews__button-prev:hover,
  .reviews__button-next:hover {
    background: rgba(55, 55, 55, 0.8);
  }

  .sosials-footer__link:hover::before {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }
}
